.jumbotron {
  background: blue;
}
image{
  border-bottom: outset;
  float: left;
}
.row {
  padding: 25px;
}
.well{
  padding: 25px;
}
.body{
  top-border: solid;
  top-border: black;
}

body{
  background-color: info;
}
