.jumbotron {

}
image{
  float: left;
}
.row {
  padding: 25px;
}
.well{
  padding: 25px;
}
.card{
  padding: 25px;
  border-style: solid;
  background-color: blue;
}
.body{
  padding: 25px;
  border-style: solid;
  top-border: black;
}
.specialties{
  padding: 5px;
  border-left: solid;
}
.practice{
  padding: 5px;
  border-left: solid;
}
